

body {
    font-size: 2rem;
    font-family: "Sen", sans-serif;
    background-color: #ECF0F1;
    color: #060606;
    line-height: 1.6;
    letter-spacing: 1.5px;
    margin: 10;
    padding: 10;

   
}
